body {
    direction: ltr;
    text-align: left;
}

.selector i{
    right: 5px;
}

#nav-icon3 {
    float: right;
}

.dismiss-model{
    right: 20px;
}

.show-password {
    right: 20px;
}

.block-list ul li{
    text-align: left;
}

.block-footer .block-list ul{
    border-right: 1px solid #ffe0e9;
}

.info-text {
    padding-left: 105px;
}


.block-head::after{
    right: 0;
}


/* Media Screen */

@media screen and (max-width: 990px){


}

@media screen and (max-width: 767px) {

    .overlay{
        right: 0;
        transform: translateX(100%);
    }

    .Nav-Mobile{
        left: 0;
        transform: translateX(-100%);
    }

    .link-header ul li {
        text-align: left;
    }


}
