/* Font Import Cdn */

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500;700&display=swap');


/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none !important;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    line-height: 1.6em;
    position: relative;
    font-weight: bold;
    font-family: 'El Messiri', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

a, button, img{
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

img{
    object-fit: cover;
}

a{
    display: inline-block;
    color: #2C2C2C;
    font-size: 13px;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
    color: #f089a6;
}

h1,h2,h3,h4,h5,h6,p{
    color: #2C2C2C;
    font-size: 14px;
}

p{
    line-height: 35px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
}

/* BTN */

button{
    padding: 5px 10px;
    cursor: pointer;
}

.btn-button {
    padding: 8px 35px;
    border-radius: 50px;
    font-size: 16px;
    margin: 15px 0;
    display: table;
    position: relative;
}

.btn-button:before{
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 20px;
    height: 10px;
    top: -5px;
    left: 0px;
}

.btn-button:after{
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 20px;
    height: 10px;
    bottom: -5px;
    right: 0px;
}

.selector {
    position: relative;
    margin: auto;
    display: inline-block;
}

/* Select */

.selector select{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 0px;
}

.selector i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #2C2C2C;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Inputs */

input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 10px 0;
    font-size: 12px;
    transition: 0.5s;
    color: #2C2C2C;
    border: 1px solid #DDD;
}

::-webkit-input-placeholder {
    opacity: 1;
    color: #9c9c9c;
}

::-moz-placeholder {
    opacity: 1;
    color: #9c9c9c;
}

:-ms-input-placeholder {
    opacity: 1;
    color: #9c9c9c;
}

:-moz-placeholder {
    opacity: 1;
    color: #9c9c9c;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.3s;
}

input:focus,
textarea:focus{
    color: #FF8BA7;
    border: 1px solid #FF8BA7;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Textarea */

textarea{
    width: 100%;
    padding: 8px 19px;
    border-radius: 50px;
    margin: 5px 0;
    font-size: 14px;
    resize: none;
    min-height: 150px;
    color: #2C2C2C;
    border: 1px solid #DDD;
}

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 1;
    color: #9c9c9c;
}

textarea::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: #9c9c9c;
}

textarea:-ms-input-placeholder { /* IE 10+ */
    opacity: 1;
    color: #9c9c9c;
}

textarea:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
    color: #9c9c9c;
}

/* Some Used */

.back{
    transform: translateX(0px) !important;
}

.none{
    display: none;
}

.none-mobile{
    display: block;
}

.block-mobile{
    display: none;
}

.body-section{
    min-height: 400px;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}

.font-style{
    text-align: center;
    display: table;
    padding-bottom: 11px;
    margin: 10px auto;
}

.animation-block{
    animation-name: scaling;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fading{
    visibility: initial;
    opacity: 1;
}

@keyframes scaling {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

.Tab-mobile{
    display: none;
}

.circle-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}

.title-head{
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: bold;
}

.title-head:before{
    content: '';
    background-image: url(../img/shape/shape-title.png);
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    height: 44px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: contain;*/
}

/* Style Color Site */

.color-black{
    color: #2C2C2C !important;
}

.color-pink{
    color: #FF8BA7 !important;
}

.color-white{
    color: #fff !important;
}

.border-black{
    border: 1px solid #2C2C2C !important;
}

.border-pink{
    border: 1px solid #FF8BA7 !important;
}

.bg-black{
    background-color: #2C2C2C !important;
}

.bg-pink{
    background-color: #FF8BA7 !important;
}

.bg-black-opacity{
    background-color: #2C2C2C !important;
    opacity: 0.1;
}

.bg-pink-opacity{
    background-color: #FF8BA7 !important;
    opacity: 0.1;
}

.shadow-pink{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,139,167,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,139,167,1);
    box-shadow: 0px 0px 5px 0px rgba(255,139,167,1);
}

.shadow-pink-opacity{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,189,204,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,189,204,1);
    box-shadow: 0px 0px 5px 0px rgba(255,189,204,1);
}

.shadow-black-opacity{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,189,204,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,189,204,1);
    box-shadow: 0px 0px 5px 0px rgba(255,189,204,1);
}

.shadow-black{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(47,47,47,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(47,47,47,1);
    box-shadow: 0px 0px 5px 0px rgba(47,47,47,1);
}

.shadow-gray{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(230,230,230,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(230,230,230,1);
    box-shadow: 0px 0px 5px 0px rgba(230,230,230,1);
}

.round{
    border-radius: 50px;
}

.btn-click{
    border-radius: 50px;
    padding: 5px 20px;
    transition: 0.5s;
    width: 140px;
    text-align: center;
}

.btn-click:hover{
    color: #FFF;
    transform: translateY(2px);
}

.btn-pink{
    background-color: #FF8BA7;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,139,167,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,139,167,1);
    box-shadow: 0px 0px 5px 0px rgba(255,139,167,1);
}

.btn-black{
    background-color: #2C2C2C;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(47,47,47,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(47,47,47,1);
    box-shadow: 0px 0px 5px 0px rgba(47,47,47,1);
}

.overLay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.overLay-opacity{
    background-color: rgba(255,139,167,0.2);
}

.overLay-bold{
    background-color: rgba(255,139,167,0.7);
}

.overLay-black{
    background-color: rgba(0,0,0,0.5);
}

/* Click Icon */




/* start loading */

.loader {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
}

.loader::before {
    content: "";
    position: relative;
    width: 300px;
    height: 300px;
    left: -100px;
    background-color: #ffbdcd;
    top: 0;
    border-radius: 50%;
    opacity: 0.1;
}

.loader::after {
    content: "";
    position: relative;
    width: 300px;
    height: 300px;
    right: -100px;
    background-color: #606060;
    top: 0;
    border-radius: 50%;
    opacity: 0.1;
}


.loader img{
    z-index: 9;
    position: relative;
    max-width: 200px;
    animation-name: translate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes translate {
    from {transform: translateY(0px);}
    to {transform: translateY(-30px);}
}

/* chickbox */

.ckick-box {
    display: block;
    position: relative;
    margin: 15px 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #c3c3c3;
}

.ckick-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.ckick-box .checkmark {
    position: relative;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #DDD;
    display: inline-block;
    vertical-align: middle;
}

.ckick-box:hover input ~ .checkmark {
    background-color: #f7f7f7;
    border: 1px solid #DDD;
}

.ckick-box input:checked ~ .checkmark {
    background-color: #f7f7f7;
    border: 1px solid #DDD;
}

.ckick-box .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.ckick-box input:checked ~ .checkmark:after {
    display: block;
}

.ckick-box .checkmark:after {
    left: 5px;
    top: -1px;
    width: 8px;
    height: 15px;
    border: solid #FF8BA7;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Start Header */

.block-head{
    position: relative;
}

.block-head::after{
    content: "";
    position: absolute;
    width: 65%;
    background-color: rgba(240, 137, 166,0.2);
    height: 102%;
    top: 0;
}

.header {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.link-header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.link-header ul li a {
    font-weight: bold;
    font-size: 14px;
}

.click-search a i{
    font-size: 20px;
}

/* Start Login */

.form-validation .modal-body{
    padding: 0;
}

.section-form {
    align-items: initial;
}

.bg-login {
    position: relative;
    width: 100%;
}

.bg-login .form-ground {
    width: 100%;
    height: 100%;
}

.bg-login .flowers {
    position: absolute;
    left: -80px;
    max-width: 110px;
    top: 40px;
}

.block-form {
    padding: 40px 0;
    /*height: 100vh;*/
    position: relative;
    overflow: hidden;
}

.block-form form{
    padding: 20px;
    overflow: hidden;
    margin: auto;
    width: 90%;
}

.btn-choose {
    margin: 20px 0;
    text-align: center;
}

.btn-choose a {
    margin: 0px 5px;
}

.block-choose {
    margin: 10px;
}

.block-choose a {
    color: #c3c3c3;
    font-size: 14px;
}

.dismiss-model{
    position: absolute;
    max-width: 40px;
    top: 15px;
}

.choose-login {
    text-align: center;
    margin: 30px 0;
    margin-bottom: 0px;
}

.choose-login h4 {
    font-size: 14px;
    color: #737373;
    margin-bottom: 30px;
}

.social-login {
    margin: 25px 0;
}

.social-login a {
    padding: 5px 30px;
    color: #FFF;
    border-radius: 50px;
    margin: 0px 5px;
}

.social-login a:nth-child(1){
    background-color: #55acee;
}

.social-login a:nth-child(2){
    background-color: #3b5999;
}

.social-login a:first-child {
    border-left: 1px solid #DDD;
}

.block-form p {
    color: #c7c7c7;
}

.block-form p a{
    color: #f089a6;
}

.block-radio {
    border: 1px solid #DDD;
    border-radius: 50px;
    padding: 10px 30px;
    margin: 20px 0;
}

.block-radio .ckick-radio {
    margin: 0;
}

.input-validation {
    position: relative;
}

.show-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #909090;
}

/* Start Search */

.block-search{
    position: relative;
    min-height: 300px;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    padding : 30px
}

.block-search .title-head {
    margin-bottom: 85px;
}

.search .modal-body{
    padding: 0;
}

.block-search-service {
    width: 75%;
    text-align: center;
}

.block-search-service .btn-click{
    margin-top: 25px;
}

/* style Section Info */

.info-up {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.info-text {
    flex-basis: 40%;
    padding: 45px 40px;
}

.info-text h2 {
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: bold;
}

.bg-info {
    flex-basis: 60%;
    position: relative;
}

.img-info img {
    width: 100%;
    height: 600px;
    z-index: 9;
    position: relative;
}

.tree-4{
    position: absolute;
    bottom: 95px;
    right: -120px;
    transform: rotate(125deg);
    max-width: 150px;
}

/* Style Block Service */

.up-service{
    overflow: hidden;
}

.flower{
    position: absolute;
    max-width: 400px;
    opacity: 0.5;
}

.round-flower-1{
    left: -242px;
    transform: rotate(-40deg);
    top: 5%;
}

.round-flower-2{
    right: -265px;
    top: 50%;
    transform: translateY(-50%);
}

.round-flower-3{
    left: -295px;
    bottom: 5%;
    transform: rotate(15deg);
}

.block-service{
    position: relative;
    height: 460px;
    display: inline-block;
    width: 100%;
    margin: 12px 0;
    transition: 0.5s;
}

.img-service{
    margin: 15px 0;
    transition: 0.5s;
}

.img-service img {
    width: 100%;
    height: 300px;
}

.block-service:hover{
    height: 300px;
}

.block-service:hover .info-service{
    height: 100%;
}

.block-service:hover .img-service{
    margin: 0;
}

.info-service{
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.info-service h4{
    color: #606060;
}

.info-service p{
    color: #939393;
}

.Group_Img {
    position: absolute;
    bottom: 0;
    z-index: 9;
    left: 0px;
    max-width: 55px;
    transform: rotate(15deg);
    opacity: 0.4;
}

/* Start About Info */

.about-info {
    background-color: #fdf4f8;
    overflow: hidden;
}

.info-site .love {
    position: absolute;
    opacity: 0.1;
    max-width: 380px;
    right: 0;
    left: 0;
    top: 25px;
    margin: auto;
}

.up-site{
    position: relative;
    overflow: hidden;
    min-height: 490px;
}

.info-site .title-head {
    display: inline-block;
    width: 170px;
}

.block-item {
    position: absolute;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block-item img:nth-child(1) {
    width: 290px;
    height: 290px;
}

.block-item img:nth-child(2) {
    width: 180px;
    height: 180px;
}

.block-item:after{
    content: '';
    background-image: url(../img/shape/round-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 290px;
    height: 290px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    z-index: 99;
    animation-name: rotate-right;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.block-item:before{
    content: '';
    background-image: url(../img/shape/round-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 180px;
    height: 180px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    z-index: 99;
    animation-name: rotate-left;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-right {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-left {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.up-site .block-item:nth-child(2){
    left: 40px;
    top: 0px;
}

.up-site .block-item:nth-child(3){
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.up-site .block-item:nth-child(4){
    left: 40px;
    bottom: 0;
}

.block-item h2{
    font-size: 25px;
    color: #f089a6;
    font-weight: bold;
}

.video-show {
    min-height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: #FFF;
    border-radius: 100px 100px 0 0;
}

.video-show .tree-4{
    right: auto;
    left: 20px;
    transform: rotate(50deg) rotateX(180deg);
    bottom: 25%;
    max-width: 190px;
    z-index: 9;
}

.frame-video {
    position: relative;
    z-index: 9;
    overflow: hidden;
    border-radius: 10px;
}

.frame-video img{
    width: 100%;
    height: 300px;
}

.over-play {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    z-index: 99;
}

.over-play i{
    color: #FFF;
    font-size: 50px;
}

.frame-app {
    position: relative;
    text-align: center;
}

.Apple{
    position: relative;
    z-index: 9
}

.splash{
    position: absolute;
    top: 35px;
    right: 0px;
    left: 0px;
    margin: auto;
    z-index: 8;
}

.bg-shaps{
    position: absolute;
    top: 50%;
    right: 0;
    margin: auto;
    max-width: 450px;
    transform: translateY(-50%);
}

.Grou{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    z-index: -1;
}

.btn-download {
    display: flex;
    align-items: center;
}

.btn-download .btn-button{
    margin: 10px;
}

.download-app .title-head{
    margin-bottom: 100px;
}

.download-app .Info-Download {
    margin: 70px 0;
}


/* Start Footer */

.footer {
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    padding: 25px 0;
    border-top: 1px solid #ffe0e9;
    position: relative;
}

.section-footer {
    width: 60%;
    margin: auto;
}

.deser {
    position: absolute;
    left: 0px;
    top: 0;
    transform: rotate(-10deg);
}

.grass-one {
    position: absolute;
    left: 0;
    bottom: -30px;
    max-width: 200px;
}

.grass-two {
    position: absolute;
    right: 0;
    bottom: -30px;
    max-width: 200px;
}

.block-footer{
    display: flex;
    justify-content: space-between;
}

.block-list{
    flex-basis: 33.3%;
}

.block-footer .block-list ul {
    padding: 5px 35px;
    margin-top: 70px;
}

.block-footer .block-list:last-child ul{
    border: 0;
}

.block-list ul li{
    display: block;
}

.block-list ul li a{
    color: #393939;
    font-size: 15px;
    margin: 5px 0px;
}

.block-list ul li a:hover{
    color: #f089a6;
    transform: translateX(-3px);
}

.end-footer{
    overflow: hidden;
    padding-top: 15px;
    margin-top: 30px;
    border-top: 1px solid #ffe0e9;
    position: relative;
}

.end-footer p{
    color: #c7c7c7;
}

.end-footer p a{
    color: #f089a6;
}

.social-page li a img{
    max-width: 30px;
    margin: 0px 5px;
}

/* Start Media */

@media screen and (max-width: 990px){


}

@media screen and (max-width: 767px){

    /* Media Tools */

    .none-mobile{
        display: none !important;
    }

    .block-mobile{
        display: inline-block !important;
    }

    .none{
        display: block !important;
    }

    #nav-icon3{
        display: inline-block;
    }

    .flex-50{
        flex-basis: 100%;
    }

    .btn-click{
        margin: 10px 0px !important;
    }

    .modal{
        z-index: 888888;
    }

    .fixed-mobile{
        position: fixed;
        margin: auto;
        top: 40%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        width: 90%;
        padding: 15px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        z-index: 999;
        border-radius: 10px;
    }

    .fading-mobile{
        visibility: initial !important;
        opacity: 1 !important;
    }

    .overlay{
        position: fixed;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 888;
        transition: 0.5s;
    }

    .Nav-Mobile{
        position: fixed;
        width: 250px;
        height: 100%;
        top: 0;
        transition: 0.5s;
        z-index: 999;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
        background-color: #fff;
        text-align: center;
    }

    .link-header ul{
        flex-direction: column;
    }

    .link-header ul li {
        display: block;
        margin: 15px 0;
        width: 100%;
        padding: 0px 25px;
    }

    .link-header .logo-header{
        display: none;
    }

    .btn-button{
        width: 100%;
    }

    .click-nav-mobile{
        padding: 15px 0;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: row-reverse;
    }

    /* Style Tab-mobile */

    .Tab-mobile{
        display: block;
    }

    .Tab-mobile ul {
        position: fixed;
        bottom: 15px;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        padding: 0px 25px;
        transition: 1s;
        z-index: 99;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 50px;
        background-color: #FFF;
    }

    .Tab-mobile ul li a{
        font-size: 20px;
    }

    .search-mobile a {
        font-size: 17px !important;
        padding: 0px;
        margin: 5px 0;
        top: -22px;
        position: relative;
        width: 120px;
    }

    .bell span {
        position: absolute;
        font-size: 8px;
        background-color: #f089a6;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        color: #FFF;
        letter-spacing: 1px;
        left: -10px;
        top: -1px;
    }

    .fading-scroll{
        transform: translateY(300%);
        visibility: hidden;
        opacity: 0;
    }

    /* About Site */

    .header {
        height: 130px;
    }

    .click-nav-mobile a{
        background-color: #fff;
        border-radius: 10px;
        padding: 12px;
    }

    .block-search-service{
        width: 100%;
    }

    .block-user {
        position: relative;
        background-image: url(../img/shape/Layer.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .Nav-Mobile .deser {
        top: auto;
        bottom: 0;
        opacity: 0.5;
    }

    .info-user {
        z-index: 99;
        right: 40px;
        top: 65px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .balown {
        position: absolute;
        max-width: 120px;
        opacity: 0.4;
        bottom: 30px;
        left: 20px;
    }

    .img-user {
        border: 2px dotted #FFF;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        line-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-user .circle-img {
        width: 65px;
        height: 65px;
        border: 0;
    }

    .info-user span {
        color: #fff;
        display: block;
        margin: 10px 0;
        font-size: 18px;
        letter-spacing: 2px;
    }

    .block-form form{
        width: 100%;
    }

    .block-service{
        height: 300px;
        border: 1px solid #f089a6;
        border-radius: 30px;
        overflow: hidden;
    }

    .block-service .info-service{
        height: 100%;
        border: 0 !important;
    }

    .block-service .img-service{
        margin: 0;
    }

    .section-footer{
        width: 100%;
    }

    .block-footer{
        flex-wrap: wrap;
    }

    .block-list {
        flex-basis: 100%;
    }

    .block-footer .block-list ul {
        margin-bottom: 30px;
    }

    .block-item{
        position: relative;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        transform: initial !important;
        margin: 10px auto;
    }


}


@media screen and (min-width: 768px){

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }

    .modal-dialog {
        margin: 30px auto;
        max-width: 70%;
    }

    .search .modal-dialog {
        max-width: 50%;
    }

}
